canvas {
	border: 2px solid black;
	cursor: crosshair;
}
.wrapper {
	max-width: 99%;
	max-height: 50%;
	resize: both;
	overflow: auto;
}
.control {
	width: 200px;
	margin: 20px;
	border: 1px solid grey;
	text-align: center;
}
.counter {
	margin-top: 2px;
	margin-bottom: 20px;
	margin-left: 50px;
}